@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Bogotá DC 98052-6399<br />
    <abbr title="Phone">P: </abbr>
    2618711
</address>

<address>
    <strong>Support:</strong> <a href="mailto:juandasa0219@gmail.com">juandasa@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
