@{
    ViewBag.Title = "Rings OF";
}

<div class="jumbotron">
    <h1>Rings On Fire</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Encargos","Index","encargoes")</h2>
       
        
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Clientes","Index","clientes")</h2>
        
        
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Anillos","Index","anilloes")</h2>
        
        
    </div>
</div>